#about-main{
    margin-top: 20px;
}
#headshot{
    opacity: 0.6;
    object-fit: cover;
    border-radius: 50%;
}
#introduction{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#introduction div{
    width: 100%;
    list-style-position: inside;
}
#introduction h1{
    margin: 0 80px;
    width: 400px
}
#introduction p {
    line-height: 30px;
    word-wrap: break-word;
    width: 400px;
    font-size: 18px;
}
#introduction a{
    color: inherit;
    text-decoration: none;
}
#introduction li{
    font-size: 20px;
}

#personal-picture{
    z-index: 1;
}

#pic-generate button{
    word-wrap: break-word;
    width: 200px;
    margin-top: 100px;
    font-weight: 800;
    border: none;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    font-size: 25px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pic-generate button:hover{
    animation-name: rotate;
    animation-duration: 0.8s;
}
@keyframes rotate {
    0%{
        
    }
    50%{
        transform: scale(-1, 1);
    }
    100%{
        
    }
}

.img-container{
    text-align: center;
}
.img-container img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px auto;
}
